/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* utility class */
   figure {
     width: 90vw;
     height: 20vh;
     /* background-color: pink; */
     margin: auto;
     display: flex;
     justify-content: space-around;
   }
    .MainDivArticleProductDetail {
     height: 37vh;
     width: 15vw;
     /* background-color: pink; */
     text-align: inherit;
     padding: 10px;
   }
    .MainDivSectionProductDetail {
     height: 28vh;
     width: 75vw;
     /* background-color: yellow; */
     text-align: center;
     padding-top: 10px;
   }
   .btnProductDetail {
     border-radius: 7px;
     background-color: #C4CAD0;
     padding: 10px;
     box-shadow: 3px 2px 2px #82A0BC;
   }
   .flexProductDetail {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 35px;
     margin-bottom: 35px;
   }
   .MainDivArticleProductDetail, .MainDivSectionProductDetail {
     border-top: thick double #BF1A2F;
     border-right: thick double #06A77D;
     border-bottom: thick double #F5BB00;
     border-left: thick double #235789;
   }
   .marginP {
     margin-bottom: 15px;
   }
   .flexForm {
     display: flex;
     justify-content: space-around;
     margin-top: 40px;
     margin-bottom: 30px;
   }
   .flexBtn {
     display: flex;
     justify-content: center;
     margin-bottom: 45px;
   }


   /* commun rules */
   h1 {
     margin-top: 0px;
     padding-top: 20px;
   }
   li {
     list-style: none;
   }
   i {
     padding-bottom: 10px;
     padding-right: 10px;
   }
   /* color links footer */
   .colorBlue {
     color: blue;
   }
   img {
     width: 50%;
     height: auto;
     background-size: cover;
   }
   h2 {
     margin-top: 35px;
     text-align: center;
   }
   p {
     margin-bottom: 0em;
   }
   .googleMap {
     width: 40%;
     height: auto;
   }
   /* .slidecontainer {
    width: 100%;
   } */



   /* header class */


   /* main class */

   /* left bloc main page index.php */
   .leftBlocMain {
     margin-top: 35px;
     width: 100vw;
     height: 15vh;
     /* background-color: yellow; */
     text-align: center;
     display: flex;
     justify-content: space-around;
   }
   /* flexbox section videos main index.php */
   .flexVideos {
     width: 85vw;
     height: 40vh;
     display: flex;
     justify-content:space-around;
     /* background-color: pink; */
     margin: auto;
     padding-top: 20px;
     padding-bottom: 20px;
   }
   /* main index.php articles  */

   .articlesBloc {
     width: 95vw;
     height: 88vh;
     /* background-color: green; */
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-top: 35px;
     margin-bottom: 35px;
   }
   article {
     width: 25vw;
     height: 30vh;
     /* background-color: grey; */
   }
   .flex {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .pArticleShop {
     width: 100%;
     height: 35vh;
     border: 1px solid black;
     padding: 10px 10px 0 10px;
     box-shadow: 3px 2px 2px #82A0BC;
   }

   /************************************* nav */
   nav {
     height: 12vh;
     /* background-color: green; */
     display: flex;
     align-items: center;
     border-bottom: 2px solid black;
   }
   nav div a input {
     width: 9vw;
     height: 6vh;
     margin-left: 15px;
     box-shadow: 3px 3px grey;
   }
   /************************************ insertion gif  */
   .bt {
     background-size: cover;
     background-position: center;
   }
   .bt1:hover {
     background-image: url(../img/Eyki.gif);
     cursor: pointer;
   }
   .bt2:hover {
     background-image: url(../img/pika.gif);
     cursor: pointer;
   }
   .bt3:hover {
     background-image: url(../img/pikuchu.gif);
     cursor: pointer;
   }
   .bt4:hover {
     background-image: url(../img/catch.gif);
     cursor: pointer;
   }
   .bt5:hover {
     background-image: url(../img/pikachou.gif);
     cursor: pointer;
   }

   /************************************************ header */
   header {
     width: 100vw;
     height: 15vh;
     /* background-color: pink; */
     text-align: center;
     border-bottom: 2px solid black;
   }

   /************************************************** footer */
   footer {
     height: 20vh;
     /* background-color: lightgrey; */
     display: flex;
     justify-content: center;
     align-items: center;
     border-top: 2px solid black;
   }

   /****************************************** productDetail.php css */
   main figure img {
     height: 100%;
     width: auto;
     background-size: cover;
   }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
